html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex-grow: 1;
}
:first-child {
  margin-top: 0;
}

@import "header";
@import "footer";
@import "main";
