.header {
  position: fixed;
  top: 0;
  padding: 20px 0;
  background-color: $colorWhite;
  z-index: 10;
  box-shadow: 0 0 4px 0 rgba($colorBlack, 0.2);
  &__wrap {
    display: flex;
    align-items: center;
  }

  @supports (position: sticky) {
    position: sticky;
  }
}
