.b-intro {
  display: flex;
  align-items: center;
  min-height: 380px;
  background-image: url('/intro-jack_w_1920.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $colorPrimaryLight;
  &__inner {
    position: relative;
    flex: 1 1 100%;
  }
  &__content {
    max-width: 50%;
    & > :last-child {
      margin-bottom: 0;
    }
  }
}
